
.home {
    text-align: center;
}
.container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
} 
.hero {
    height: 800%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(icode.jpeg);
    background-size: cover;
    display: inline-block;
    align-items: center;
    background-position: 80%;
    
}
.cont {
    justify-content: center;
    display: flex;
    justify-content: space-between;
} 

.text h1 {
    font-size: 20px;
    font-weight: bold;
}
.text p {
    font-size: 15px;
    font-style: italic;
    color: rgb(28, 4, 4);
    flex-wrap: wrap;
}

.monk-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 200px;
    text-align: center;
}
.monk-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.monk-card h3 {
    margin: 10px 0;
    font-size: 18px;
}
.monk-card button {
    background-color: #d4a373;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}
.monk-card button:hover {
    background-color: #c58447;
} 