* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Header styles */
h1 {
  text-align: center;
  color: rgb(5, 4, 4);
  background-color: rgb(122, 122, 186);
  padding: 20px;
  margin-bottom: 20px;
}

/* Section styles */
section.do {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

section.do h3 {
  color: #333;
}

section.do p {
  margin: 20px 0;
}

section.do address {
  margin-top: 20px;
}

/* Marquee styles */
.marquee {
  color: #751313;
  width: 100%;
  padding: 10px;
  background-color: #f8f9fa;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.marquee a {
  text-decoration: none;
  color: rgb(196, 213, 227);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  .marquee {
    width: 90%;
  }
}