.do {
    background-color: rgb(199, 160, 244);
    border: 2px solid navy;
    padding: 40px   20px;
    margin: 40px;
    height: 50  0px;
    font-size: 50px;
    text-align: center;
}
.c {
    border: 3px solid rgb(189, 164, 3);
    /* padding: 200px; */
    background-color: rgb(225, 128, 147);
    height: 50px;
    text-align: center;
    text-decoration: none;
}
.co {
    background-color: rgb(120, 98, 146);
    border: 2px solid rgb(56, 137, 12);
    padding: 40px   20px;
    margin: 40px;
    height: 50  0px;
    font-size: 50px;
    text-align: center;
}